{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href='{% static "css/tables.css" %}?{% now "U" %}'>
{% endblock %}



{% block content %}
<button type="button" class="btn btn-dark"><a class="nav-link" style="color:white;" href="{% url 'cloud:add_File' folder.partition.id folder.id %}">add file</a></button>
 <div class="mt-5">
   <table id="table" class="table table-dark table-striped">
     <tr>
       <th>file title</th>
       <th>file size</th>
       <th>download</th>
       <th>other</th>
     </tr>
     {% for file in files  %}
       <tr>
         <td>{{file.filename}}</td>
         <td>{{file.size}}</td>
         <td><button type="button" class="btn btn-primary" style="color:white;"><a href="{{file.file.url}}" style="text-decoration:none; color:black;" download>download</a></button></td>
         <td>
           <!-- Example split danger button -->
           <div class="btn-group dropstart">
             <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
               <span class="visually-hidden">Toggle Dropdown</span>
             </button>
             <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="{% url 'cloud:delete_file' file.pk %}">delete</a></li>
             </ul>
           </div>
         </td>
      </tr>
     {% endfor %}
   </table>
 </div>

{% endblock %}
